@media screen and (min-width: 768px) and (max-width: 995px) { 

}

@media screen and (min-width: 996px)  {

    .note-responsive {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .note-container {
        padding: 0;
        gap: 1rem;
    }

    .note-container p {
        margin: 1rem 0;
    }

    .avis p {
        margin: 1rem 0;
    }

    header h1 {
        margin: 2vh 0;
    }

<<<<<<< HEAD
}

=======
    header h1 {
        font-size: 40px;
        z-index: 2;
    }

    .logo {
        width: 150px;
        margin: -1rem 0 -7.75rem 0;
        z-index: 1;
    }

    .card{
        min-width: 25rem;
    }

    .carousel{
        min-height: 50rem;
    }
}
>>>>>>> 1b296391067fc98d1c1915604459c60733d67576
