@media screen and (min-width: 768px) and (max-width: 995px) { 

/* Position de départ de chaque pointeur format tablette */

#point1 {
    top: 42%;
    left: 40%;

}
#point2 {
    top: 55%;
    left: 62%;

}
#point3 {
    top: 42%;
    left: 61%;

}
#point4 {
    top: 42%;
    left: 33%;

}
#point5 {
    top: 55%;
    left: 48%;

}



}

@media screen and (min-width: 996px)  {

    .note-responsive {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .note-container {
        padding: 0;
        gap: 1rem;
    }

    .note-container p {
        margin: 1rem 0;
    }

    .avis p {
        margin: 1rem 0;
    }

/* Position initial de chaque pointeurs format desktop */

#point1 {
    top: 40%;
    left: 44%;

}
#point2 {
    top: 60%;
    left: 59%;

}
#point3 {
    top: 40%;
    left: 58%;

}
#point4 {
    top: 40%;
    left: 39%;

}
#point5 {
    top: 60%;
    left: 49%;

}


    header h1 {
        margin: 2vh 0;
    }

    header h1 {
        font-size: 40px;
        z-index: 2;
    }

    .logo {
        width: 150px;
        margin: -1rem 0 -7.75rem 0;
        z-index: 1;
    }

    .card{
        min-width: 25rem;
    }

    .carousel{
        min-height: 50rem;
    }
}