/* Style de base */

* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "LilitaOne";
}

body {
    margin: 0;  
    max-width: 100%;
    margin: 0;
}

:root {
  --primaryColor: #cfdbd5;
  --secondaryColor: #f5cb5c;
  --cardColor: #e8eddf;
  --bannerColor: #686868;
  --nameResto: #c9d4cf;
}

@font-face {

    font-family: 'LilitaOne';
    src: url(../public/fonts/LilitaOne-Regular.ttf);
}

/* HEADER */

.header {
  background-color: var(--primaryColor);
  height: 20vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {

    margin: 1vh 0;
    font-size: 25px;
}

a {
  text-decoration: none;
}

.logo {
  width: 50px;
  margin: -1rem 0 -0.75rem 0;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  height: 1.75rem;
  width: 18rem;
  box-shadow: 2px 2px 3px black;
}

#search-city {
  background-color: white;
  border: none;
  width: 16rem;
  border-radius: 25px 0 0 25px;
  padding: 0.25rem 0.75rem;
  margin: 0;
}

#search-city:hover {
  border-style: none;
}

#search-city:active {
  border-style: none;
}

.icon_search {
  width: 23px;
  margin: 0;
}

.searchButton {
  border-style: none;
  background-color: var(--secondaryColor);
  border-radius: 25px;
  padding: 0.15rem 0.75rem 0.15rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /*box-shadow: 0px 0px 0px 0,16px rgba(245,203,92,1);
    -webkit-box-shadow: 0px 0px 0px 0,16px rgba(245,203,92,1);
    -moz-box-shadow: 0px 0px 0px 0.15px rgba(245,203,92,1);*/
}

/* Partie filtre */

.filtre {
  background-color: var(--bannerColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  height: 4, 5vh;
}

#filtregout {
  /* Choisir entre color Black/White/Yellow */
  color: var(--secondaryColor);
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.58);
  text-align: center;
  height: 90%;
  font-size: 15px;
  text-justify: center;
}

#filter {
  width: 100vw;
  height: 10%;
  background-color: var(--primaryColor);
  justify-content: center;
}

#textfilter {
  display: 100%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  opacity: 50;
}

.textfilt {
  color: var(--bannerColor);
  text-shadow: 1px 2px white;
  font-size: 15px;
}

.dropdown1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20vw;
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
  width: 60vw;
  padding: 0 15px;
}

.dropdown2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
  margin-left: 20vw;
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
  width: 60vw;
  padding: 0 15px;
}

.dropdown3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
  margin-left: 20vw;
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
  width: 60vw;
  padding: 0 15px;
}

.dropdown4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
  margin-left: 20vw;
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
  width: 60vw;
  padding: 0 15px;
}



/* MAIN - Map */

.map {

    background-color: var(--primaryColor);
    min-height: 33vh;
    width:100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow : hidden;
    z-index: 1;


}

.southParkMap {
    height : 220px;
    width : 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    cursor: zoom-in;
    transform : perspective(800px) translateZ(100px);


}

#point1 {
  top : 38%;
  left : 28%;
}
#point2 {
  top : 60%;
  left : 78%;
}
#point3 {
  top : 38%;
  left : 75%;
}
#point4 {
  top : 37%;
  left : 15%;
}
#point5 {
  top : 60%;
  left : 45%;
}

.point {
    width: 20px;
    height: 20px;
    background-color: var(--secondaryColor); 
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 1;

}

.point:hover {
    /*transform: scale(1.1);*/
    background-color: greenyellow;
}

.point::after {
  content: attr(nameRestaurant);
  display: none;
  position: absolute;
  top: -30px;
  left: -10px;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;

}

.point:hover::after {
  display: block;
}

/* MAIN - ListCard */


.carousel {
    background-color: var(--secondaryColor);
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--cardColor);
    min-height: 42.5rem;
    min-width: 45%;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.image-container {
    width: 100%;
    max-height: 15rem;
}

.desc-container {
    width: 100%;
    height: 24.5rem;
}

.name-restaurant {
    text-align: center;
    background-color: var(--nameResto);
    min-width: 100%;
    border-radius: 15px 0 15px 0;

}

.desc-container h2 {
    margin: 0;
}

.desc-container p {
    margin: 1rem 0;
    padding: 0;
}

.note-container {
    display: flex;
    justify-content: space-between;
    padding: 0 3.5rem;
}

.note-container p {
    margin: 1rem 0 0 0;
}

.note-image {
    height: 30px;
    margin: 0.80rem 0 0 0;
}

.avis {
    text-align: center;
}

.avis p {
    margin: 0.5rem 0 1rem 0;
}

hr {
    margin: 0 5%;
    width: 90%;
}

.text-desc h3 {
    padding: 0 3rem;
    margin: 1rem 0;
}

.text-desc p {
    padding: 0 1.75rem;
    margin: 1rem 0;
}

.link-card {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: var(--nameResto);
    border-radius: 15px 0 15px 0;
}

.link-card a {
    color: black;
    padding: 0.25rem 6rem;
    font-size: 18px;
}

.link-card:hover {
    background-color: #b6c0bc;
    transform: ease-in-out 0.9s;
}

/* FOOTER */

footer {
  background-color: var(--bannerColor);
  min-height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer img {
  margin: 0 1rem 0 0;
}

footer p {
  margin: 0;
}
