/* Style de base */

* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "LilitaOne";
}

body {
    margin: 0;  
    max-width: 100%;
    margin: 0;
}

:root {
  --primaryColor: #cfdbd5;
  --secondaryColor: #52a183;
  --cardColor: #e8eddf;
  --bannerColor: #0b363b;
  --nameResto: #addacc;
}

@font-face {
    font-family: 'LilitaOne';
    src: url(../public/fonts/LilitaOne-Regular.ttf);
}

/* HEADER */

.header {
  background-color: var(--primaryColor);
  height: 20vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
    margin: 1vh 0;
    font-size: 28px;
    z-index: 2;
}

a {
  text-decoration: none;
  text-align: center;
  color: aquamarine;
}

.logo {
  width: 75px;
  margin: -1rem 0 -4rem 0;
  z-index: 1;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  min-height: 1.55rem;
  min-width: 18rem;
  box-shadow: 2px 2px 3px black;
}

.search-restaurant {
  background-color: white;
  border: none;
  min-width: 18rem;
  border-radius: 25px 0 0 25px;
  padding: 0.25rem 0.75rem;
  margin: 0;
}

.icon_search {
  width: 23px;
  margin: 0;
}

.searchButton {
  border-style: none;
  background-color: var(--secondaryColor);
  border-radius: 25px;
  padding: 0.16rem 0.75rem 0.16rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Partie filtre */

.filtre {
  background-color: var(--bannerColor);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  padding: 1rem 0;
  margin: 0;
  color: var(--nameResto);
}

/* MAIN - Map */

.map {
  background-color: var(--primaryColor);
  min-height: 44vh;
  width:100%;
  position: relative; 
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 1;
}

.southParkMap {
    height : 100%;
    width : 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    cursor: zoom-in;
    transform : perspective(800px) translateZ(100px);
}

#point1 {
  top : 38%;
  left : 22%;
}
#point2 {
  top : 60%;
  left : 88%;
}
#point3 {
  top : 38%;
  left : 88%;
}
#point4 {
  top : 38%;
  left : 2%;
}
#point5 {
  top : 60%;
  left : 46%;
}

.point {
    width: 20px;
    height: 20px;
    background-color: var(--secondaryColor); 
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 2;

}

.point:hover {
    /*transform: scale(1.1);*/
    background-color: greenyellow;
}

.point::after {
  content: attr(nameRestaurant);
  display: none;
  position: absolute;
  top: -30px;
  left: -10px;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;

}

.point:hover::after {
  display: block;
}

/* MAIN - ListCard */


.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin: auto;
  overflow: hidden;
  height: 47rem;
  background-color: var(--secondaryColor);
}

#card-container {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease; 
  width: 100vw;
  height: 100vw; 
}

.prev, .next {
  position: absolute;
  transform: translateY(-50);
  font-size: 40px;
  top: 50%;
  z-index: 2;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.363);
  color: white;
  border-radius: 7px 0;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.card {
    background-color: var(--cardColor);
    height: 43.5rem;
    width: 23rem;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 1.75rem;
    box-sizing: border-box;
    position: relative;
}

.image-container {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}


.desc-container {
    width: 100%;
    height: 24.5rem;
}

.name-restaurant {
    text-align: center;
    background-color: var(--nameResto);
    min-width: 100%;
    border-radius: 15px 0 15px 0;
}

.desc-container h2 {
    margin: -0.8rem 0 0 0;
}

.desc-container p {
    margin: 1rem 0;
    padding: 0;
}

.note-container {
    display: flex;
    justify-content: space-between;
    padding: 0 3.5rem;
}

.note-container p {
    margin: 1rem 0 0 0;
}

.note-image {
    height: 30px;
    margin: 0.80rem 0 0 0;
}

.avis {
    text-align: center;
}

.avis p {
    margin: 0.5rem 0 1rem 0;
}

hr {
    margin: 0 5%;
    width: 90%;
}

.text-desc h3 {
    padding: 0 3rem;
    margin: 1rem 0;
}

.text-desc p {
    padding: 0 1.75rem;
    margin: 1rem 0;
}

.link-card {
    background-color: var(--nameResto);
    border-radius: 15px 0 15px 0;
    bottom: 15px;
    padding: 0.25rem 6rem;
    position: absolute;
}

.link-card a {
    color: black;
    font-size: 18px;
}

.link-card:hover {
    background-color: #b6c0bc;
    transform: ease-in-out 0.9s;
}

/* FOOTER */

footer {
  background-color: var(--bannerColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 5rem;
  margin: 0;
  padding: 10px;
}

footer p{
  text-align: center;
  flex-grow: 1;
}

.Twitter{
  width: 30px;
}

.Instagram{
  width: 33px;
}

